<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - razor-app</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/razor-app.styles.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="Shared/NavMenuPartial" />
    </header>

    <main class="mt-5 container">
        @RenderBody()
    </main>

    <footer class="bg-dark fixed-bottom text-center">Powered by jvxdev</footer>

    @RenderSection("scripts", required: false)

    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
