<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - razor-app</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="Shared/NavMenuPartial" />
    </header>

    <main class="mt-5 container">
        @RenderBody()
    </main>

    <script href="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
</body>
</html>
