@page "~/sobre"
@model razor_app.Pages.AboutModel
@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre</h1>

<button class="btn btn-danger" onclick="AlertHelloWorld();">Clique aqui</button>

@section scripts {
    <script src="~/js/site.js"></script>
}